![Raster Images ](images/slide-01.png "Raster Images")
-----

-----

![Raster Images ](images/slide-02.png "Raster Images")
-----

-----

![Raster Images ](images/slide-03.png "Raster Images")
-----

-----
<center> <font size="18" color='#FFCD3F' face = 'Arial Rounded MT'>Process</font>

-----

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Input</font>

![Raster Images ](images/raster.png "Raster Images")

<br>


<center> <font size="4" color='#538EBB' face = 'Arial'>Raster Images from 1971 and 1985 </font>

-----

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Library Imports</font>

In [32]:
import numpy as np
import pandas as pd

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Contingency Matrix</font>

In [57]:
df = pd.read_csv('sample.csv', index_col= 0)
display(df)

        Built  Barren  Forest  Water
Built     612       0       0      0
Barren    168     561       0      0
Forest    292      83    2197      0
Water       0       0       0    183

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Translating Logic</font>

In [34]:
# false alarm quantity
def false_alarm_quantity(data):
    false_alarm_quantity_np = np.zeros(shape = (1, len(data)))
    for i in range(0, len(data)):
        false_alarm_quantity_np[0,i] = np.max((0, (false_alarms(data)[0,i] - misses(data)[0,i])))
    return(false_alarm_quantity_np)

In [54]:
# misss quantity
def miss_quantity(data):
    miss_quantity_np = np.zeros(shape = (1, len(data)))
    for i in range(0, len(data)):
        miss_quantity_np[0,i] = np.max((0, (misses(data)[0,i] - false_alarms(data)[0, i])))
    return(miss_quantity_np)

In [35]:
# Quantity difference/disagreement for k (Dqk):
def size_of_quantity_difference(data):
    size_of_quantity_difference_np = abs(misses(data) - false_alarms(data))
    return(size_of_quantity_difference_np)

In [36]:
# extent of contingency table (total pixel count)
def extent(data):
    return(np.sum(data))

In [37]:
#find column sums
def column_totals(data):
    column_totals_np = np.zeros(shape=(1, len(data)))
    for i in range(0, len(data)):
        column_totals_np[0,i] = np.sum((data[:,i]))
    return(column_totals_np)

In [38]:
# find row totals:
def row_totals(data):
    row_totals_np = np.zeros(shape=(1, len(data)))
    for i in range(0, len(data)):
        row_totals_np[0,i] = np.sum((data[i,:]))
    return(row_totals_np)

![ ](images/slide4.png "")
-----

-----
![Raster Images ](images/hellopontipy.png "Raster Images")

-----

In [72]:
from testpontipy2 import testpontipy2

<center> <font size="18" color='#FFCD3F' face = 'Arial Rounded MT'>Functions</font>

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Class Object</font>

In [52]:
pd_table_func = testpontipy2(df)

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Contingency Table</font>

In [59]:
display(pd_table_func.contingency_table())

         Built  Barren  Forest  Water  Col Sum  Hits  Miss  False Alarm
Built      612       0       0      0     1836   612  2604         1224
Barren     168     561       0      0     2187   561  1371         1626
Forest     292      83    2197      0     7716  2197  4394         5519
Water        0       0       0    183      549   183   366          366
Row Sum   3216    1932    6591    549    36864  3553  8735         8735

<font size="5" color='#538EBB' face = 'Arial Rounded MT'>Hits, Misses, & False Alarms</font>

<font size="4" color='#386E9E' face = 'Arial'>1. No category specified = Sum of H, M, or FA</font></li> 
<br>
<font size="4" color='#386E9E' face = 'Arial'>2. Category k specified = H, M, or FA for category k</font></li>

In [61]:
print('Total Hits:', pd_table_func.hits(), 'Hectares')
print('Total Misses:', pd_table_func.miss(), 'Hectares')
print('The Total False Alarms:', pd_table_func.false_alarm(), 'Hectares')

Total Hits: 3553 Hectares
Total Misses: 8735 Hectares
The Total False Alarms: 8735 Hectares

In [30]:
print('Hits for Category 1:', pd_table_func.hits(0), 'Hectares')
print('Misses for Category 1:', pd_table_func.miss(0), 'Hectares')
print('False Alarms for Category 1:', pd_table_func.false_alarm(0), 'Hectares')

Hits for Category 1: 612 Hectares
Misses for Category 1: 460 Hectares
False Alarms for Category 1: 0 Hectares

-----

<font size="6" color='#386E9E' face = 'Arial Rounded MT'>Quantity</font>

<font size="4" color='#386E9E' face = 'Arial'>1. No category specified = Total quantity disagreement</font> 
<br>
<font size="4" color='#386E9E' face = 'Arial'>2. Category k specified =</font>
<br><pre>
<font size="4" color='#386E9E' face = 'Arial'>a) FALSE (default) = Dictionary</font>
    <font size="4" color='#386E9E' face = 'Arial'>Key = Labels Miss/False Alarm/Blank</font>
    <font size="4" color='#386E9E' face = 'Arial'>Value = Quantity value</font>
<font size="4" color='#386E9E' face = 'Arial'>b) TRUE = Quantity disagreement for category k</font></pre>

In [31]:
print('Total Quantity Disagreement:', pd_table_func.quantity(), 'Hectares')

Total Quantity Disagreement: 76 Hectares

In [32]:
print('Quantity Disagreement for Category 1:', pd_table_func.quantity(0, False), 'Hectares')

Quantity Disagreement for Category 1: 152 Hectares

In [33]:
print('Quantity Disagreement for Category 1 w/ label:', pd_table_func.quantity(0, True), 'Hectares')

Quantity Disagreement for Category 1 w/ label: {'False Alarm': 152} Hectares

-----

<font size="6" color='#386E9E' face = 'Arial Rounded MT'>Exchange</font>

<font size="4" color='#386E9E' face = 'Arial'>1. No category specified = Total exchange disagreement</font> 
<br>
<font size="4" color='#386E9E' face = 'Arial'>2. Category k specified = Dictionary + Sum of exchange for category k</font>
<br><pre>
<font size="4" color='#386E9E' face = 'Arial'>Key = Category # exchanged with category k</font>
<font size="4" color='#386E9E' face = 'Arial'>Value = Exchange value</font></pre>
<font size="4" color='#386E9E' face = 'Arial'>3. Two categories specified = Exchange disagreement between them</font>

In [34]:
print('Total Exchange Disagreement:', pd_table_func.exchange(), 'Hectares')

Total Exchange Disagreement: 0 Hectares

In [35]:
print('Exchange Disagreement for Category 1:', pd_table_func.exchange(0, None, False), 'Hectares')

Exchange Disagreement for Category 1: {'Category 1': 0, 'Category 2': 0, 'Category 3': 0, 'Total Exchange': 0} Hectares

In [37]:
print('Exchange between Category 1 and 2:', pd_table_func.exchange(0,1), 'Hectares')

Exchange between Category 1 and 2: 0 Hectares

-----

<font size="6" color='#386E9E' face = 'Arial Rounded MT'>Size</font>

<br>
<font size="4" color='#386E9E' face = 'Arial'>1. No category specified = Size of extent</font>
<br>
<font size="4" color='#386E9E' face = 'Arial'>2. Category k specified = Size of category k</font>
<br><pre>
<font size="4" color='#386E9E' face = 'Arial'>a) Axis 'X' = Size of category k in X (row sum)</font>
<font size="4" color='#386E9E' face = 'Arial'>b) Axis 'Y' = Size of category k in Y (col sum)</font>
<font size="4" color='#386E9E' face = 'Arial'>c) No Axis specified = Size of category k</font></pre>

In [38]:
print('Size of Extent:', pd_table_func.size(), 'Hectares')

Size of Extent: 25662 Hectares

In [39]:
print('Size of Category 1 in X:', pd_table_func.size(0,'X'),'Hectares')

Size of Category 1 in X: 2296 Hectares

In [40]:
print('Size of Category 1 in Y:', pd_table_func.size(0,'Y'),'Hectares')

Size of Category 1 in Y: 2144 Hectares

-----

<center> <font size="18" color='#FFCD3F' face = 'Arial Rounded MT'>Metrics</font>

<font size="6" color='#386E9E' face = 'Arial Rounded MT'>False Alarm Quantity Intensity</font>

<br>
<font size="4" color='#386E9E' face = 'Arial'>= (False Alarm Quantity of Category k) / (Size of Category k in X)</font>

In [71]:
for i in range(len(df)):
    fa_label = pd_table_func.quantity(i,True)
    if "False Alarm" in fa_label:
        faqi = round((fa_label["False Alarm"]/pd_table_func.size(i,'X'))*100, 2)
        print('FAQI for Category', i , faqi)
    else:
        pass

FAQI for Category 0 6.62
FAQI for Category 1 43.26
FAQI for Category 2 43.05
FAQI for Category 3 33.33

-----

![Raster Images ](images/futurework.png "Raster Images")
-----

-----

<center> <font size="10" color='#FFCD3F' face = 'Arial Rounded MT'>Feedback or Questions?</font> </center>