In [1]:
from PontiusMatrix import *
import pandas as pd

In [2]:
df = pd.read_csv("./Testing/coastal_1995_2000.csv", index_col=0)

In [3]:
display(df)

            Cultivated  Forest  Garden  Water  Built  Unused
Cultivated         824     120       2      5    124       4
Forest              49     397      18      3     13       8
Garden              12       4      52      0      4       0
Water                6       2       1     34      8       2
Built               14       4       1      2    301       0
Unused               3       6       3      2      4      72

## Testing Parent Class (Neither)

In [4]:
coast_95_20_neither = pontiPy(df)

In [5]:
print("Miss:", coast_95_20_neither.column_disagreement())
print("Exchange for Category 2:", coast_95_20_neither.exchange(2, Total = True))
print("Total Size:", coast_95_20_neither.size())
print("Shift:", coast_95_20_neither.shift())
print("Total Difference:", coast_95_20_neither.difference())
print("Difference for Category 2:", coast_95_20_neither.difference(2))

Miss: 424
Exchange for Category 2: 7
Total Size: 2104
Shift: 148.0
Total Difference: 496
Difference for Category 2: 45

In [6]:
print("Exchange for Category 2:", coast_95_20_neither.exchange(2, Total = True))
print(coast_95_20_neither.exchange(0))
print(coast_95_20_neither.exchange(1))
print(coast_95_20_neither.exchange(2))
print(coast_95_20_neither.exchange(3))
print(coast_95_20_neither.exchange(2, 0))

Exchange for Category 2: 7
{'Category 1': 49, 'Category 2': 2, 'Category 3': 5, 'Category 4': 14, 'Category 5': 3, 'Total Exchange': 73}
{'Category 0': 49, 'Category 2': 4, 'Category 3': 2, 'Category 4': 4, 'Category 5': 6, 'Total Exchange': 65}
{'Category 0': 2, 'Category 1': 4, 'Category 3': 0, 'Category 4': 1, 'Category 5': 0, 'Total Exchange': 7}
{'Category 0': 5, 'Category 1': 2, 'Category 2': 0, 'Category 4': 2, 'Category 5': 2, 'Total Exchange': 11}
2

In [7]:
print("Total Size:", coast_95_20_neither.size())
print(coast_95_20_neither.size(0))
print(coast_95_20_neither.size(1))
print(coast_95_20_neither.size(2))
print(coast_95_20_neither.size(3))

Total Size: 2104
1987
1021
149
99

In [8]:
print("Shift:", coast_95_20_neither.shift())

Shift: 148.0

In [9]:
print("Total Difference:", coast_95_20_neither.difference())
print("Difference for Category 2:", coast_95_20_neither.difference(2))

Total Difference: 496
Difference for Category 2: 45

In [10]:
print(coast_95_20_neither.quantity(0, label = True))

{'False Alarm': 171}

In [11]:
coast_95_20_neither.matrix()

,Cultivated,Forest,Garden,Water,Built,Unused,Sum,False Alarms
Cultivated,824,120,2,5,124,4,1079,255
Forest,49,397,18,3,13,8,488,91
Garden,12,4,52,0,4,0,72,20
Water,6,2,1,34,8,2,53,19
Built,14,4,1,2,301,0,322,21
Unused,3,6,3,2,4,72,90,18
Sum,908,533,77,46,454,86,2104,424
Misses,84,136,25,12,153,14,424,

In [12]:
coast_95_20_neither.dataframe

            Cultivated  Forest  Garden  Water  Built  Unused
Cultivated         824     120       2      5    124       4
Forest              49     397      18      3     13       8
Garden              12       4      52      0      4       0
Water                6       2       1     34      8       2
Built               14       4       1      2    301       0
Unused               3       6       3      2      4      72

## Testing Change Subclass

In [13]:
coast_95_20_change = pontiPy_Change(df)

In [14]:
# Functions available: Will return the same value
print(coast_95_20_change.gain())
print(coast_95_20_change.column_disagreement())

424
424

In [15]:
# Functions available: Will return the same value
print(coast_95_20_change.loss())
# OR
print(coast_95_20_change.row_disagreement())

424
424

In [16]:
# Functions available: Will return the same value
print(coast_95_20_change.persistence())
# OR
print(coast_95_20_change.agreement())

1608
1608

In [17]:
print("Exchange for Category 2:", coast_95_20_change.exchange(2, Total = True))

Exchange for Category 2: 7

In [18]:
print("Total Size:", coast_95_20_change.size())

Total Size: 2104

In [19]:
print("Shift:", coast_95_20_change.shift())

Shift: 148.0

In [20]:
print(coast_95_20_change.quantity(0, label = True))

{'False Alarm': 171}

In [21]:
coast_95_20_change.matrix()

            Cultivated  Forest  Garden  Water  Built  Unused   Sum Loss
Cultivated         824     120       2      5    124       4  1079  255
Forest              49     397      18      3     13       8   488   91
Garden              12       4      52      0      4       0    72   20
Water                6       2       1     34      8       2    53   19
Built               14       4       1      2    301       0   322   21
Unused               3       6       3      2      4      72    90   18
Sum                908     533      77     46    454      86  2104  424
Gain                84     136      25     12    153      14   424

## Testing Error Subclass

In [22]:
coast_95_20_error = pontiPy_Error(df)

In [23]:
# Functions available: Will return the same value
print(coast_95_20_error.miss())
print(coast_95_20_error.column_disagreement())
# OR
print(coast_95_20_error.miss(1))
print(coast_95_20_error.column_disagreement(1))

424
424
136
136

In [24]:
# Functions available: Will return the same value
print(coast_95_20_error.false_alarm())
print(coast_95_20_error.row_disagreement())
# OR
print(coast_95_20_error.false_alarm(1))
print(coast_95_20_error.row_disagreement(1))

424
424
91
91

In [25]:
# Functions available: Will return the same value
print(coast_95_20_error.hit())
print(coast_95_20_error.agreement())
# OR
print(coast_95_20_error.hit(1))
print(coast_95_20_error.agreement(1))

1608
1608
397
397

In [26]:
print("Exchange for Category 2:", coast_95_20_error.exchange(2, Total = True))

Exchange for Category 2: 7

In [27]:
print("Total Size:", coast_95_20_error.size())

Total Size: 2104

In [28]:
print("Shift:", coast_95_20_error.shift())

Shift: 148.0

In [29]:
print(coast_95_20_error.quantity(0, label = True))

{'False Alarm': 171}

In [30]:
coast_95_20_error.matrix()

,Cultivated,Forest,Garden,Water,Built,Unused,Sum,False Alarms
Cultivated,824,120,2,5,124,4,1079,255
Forest,49,397,18,3,13,8,488,91
Garden,12,4,52,0,4,0,72,20
Water,6,2,1,34,8,2,53,19
Built,14,4,1,2,301,0,322,21
Unused,3,6,3,2,4,72,90,18
Sum,908,533,77,46,454,86,2104,424
Misses,84,136,25,12,153,14,424,