In [4]:
import pandas as pd

In [10]:
class matrix(object):
    def __init__ (self, df):
        '''A dataframe is essentially the input for the matrix'''
        self.df = pd.read_csv(df, index_col = 0)
        
    def printdf(self):
        '''Call printdf to visualize .csv file in dataframe'''
        self.dfcopy = self.df.copy(deep = True)
        '''Use dataframe.copy to create a copy of original dataframe'''
        '''Or this step will mess up following calculations based on columns/rows'''
        self.dfcopy['Sum_rows'] = self.dfcopy.sum(axis = 1)
        self.dfcopy.loc['Sum_columns'] = self.dfcopy.sum(axis=0)
        return self.dfcopy
    
    def categories(self):
        '''Display categories'''
        categories = self.dfcopy.columns[:-1].to_list()
        return print("Categories: ", categories)
    
    def Hits(self, category = None):
        hits_keys = self.df.columns.to_list()
        hits_values = []
        for i in range(len(self.df.columns)):
            hits_values.append(self.df.iloc[i][i]) 
        hits = {hits_keys[i]: hits_values[i] for i in range(len(hits_keys))}
        if category is None:
            return print("Total hits: ", sum(hits_values)), hits
        #If no category specified, return total Hits and Hits dictionary for all categories
        else:
            return print(category,"has", hits[category], "hits.")
        #If category specified, return hit number for that category
        
    def FalseAlarms(self, category = None):
        hits = []
        for i in range(len(self.df.columns)):
            hits.append(self.df.iloc[i][i])
        mapsum = self.df.sum(axis = 1).to_list()
        FA_keys = self.df.columns[:].to_list()
        FA_values = [] 
        for i in range(len(self.df.columns)):
            FA_values.append(mapsum[i] - hits[i])
        FAs = {FA_keys[i]:FA_values[i] for i in range(len(FA_keys))}
        #return mapsum, hits, FA_keys, FA_values, FAs
        if category is None:
            return print("Total False Alarms: ", sum(FA_values)), FAs
        #If no category specified, return total FAs and FAs dictionary for all categories
        else:
            return print(category,"has", FAs[category], "false alarms.")
        
    def df_fams(self):
        '''Call printdf to visualize .csv file in dataframe'''
        dfcopy2 = pd.read_csv('sample.csv', index_col = 0)
        #self.dfcopy = self.df.copy(deep = True)
        hits = []
        for i in range(len(dfcopy2.columns)):
            hits.append(dfcopy2.iloc[i][i])
        mapsum = dfcopy2.sum(axis = 1).to_list()
        groundsum = dfcopy2.sum(axis = 0).to_list()  
        FA_values = [] 
        MISS_values = []
        for i in range(len(dfcopy2.columns)):
            FA_values.append(mapsum[i] - hits[i])
            MISS_values.append(groundsum[i] - hits [i])
        # Attach list to dataframe as rows and columns
        FA_values.append(sum(FA_values))
        MISS_values.append(sum(MISS_values))
        MISS_values.append('//')
        dfcopy2['Sum_map'] = dfcopy2.sum(axis = 1)
        dfcopy2.loc['Sum_ground'] = dfcopy2.sum(axis=0)
        dfcopy2['False_Alarms'] = FA_values
        dfcopy2.loc['Misses'] = MISS_values
        return dfcopy2  
    
    
    def ue(self):
        dfcopy2 = self.df.copy(deep = True)
        hits = []
        for i in range(len(dfcopy2.columns)):
            hits.append(dfcopy2.iloc[i][i])
        mapsum = dfcopy2.sum(axis = 1).to_list()
        groundsum = dfcopy2.sum(axis = 0).to_list()  
        FA_values = [] 
        MISS_values = []
        for i in range(len(dfcopy2.columns)):
            FA_values.append(mapsum[i] - hits[i])
            MISS_values.append(groundsum[i] - hits [i])
        # Attach list to dataframe as rows and columns
        FA_values.append(sum(FA_values))
        MISS_values.append(sum(MISS_values))
        MISS_values.append('//')
        dfcopy2['Sum_map'] = dfcopy2.sum(axis = 1)
        dfcopy2.loc['Sum_ground'] = dfcopy2.sum(axis=0)
        dfcopy2['False_Alarms'] = FA_values
        dfcopy2.loc['Misses'] = MISS_values
        # Create list of pure False Alarm and Miss values (no sum)
        FA_pure = FA_values[:-1]
        Miss_pure = MISS_values[:-2]
        # Create list of uniform entry size - just an example here using error/change in names
        ue_size_error_col = []
        ue_size_change_row = []
        for i in range(len(FA_pure)):
            ue_size_error_col.append(MISS_values[i] / (len(FA_pure)-1))
            ue_size_change_row.append(FA_values[i] / (len(FA_pure)-1))
        # Create list of uniform entry intensity - just an example here using error/change in names
        ue_intensity_error_row = []
        ue_intensity_change_column = []
        for i in range(len(FA_pure)):
            ue_intensity_error_row.append(FA_pure[i] / (sum(groundsum)-groundsum[i]))
            ue_intensity_change_column.append(Miss_pure[i] / (sum(mapsum)-mapsum[i]))
        return 'uniform entry size for error assessment is', ue_size_error_col, 'uniform entry size for change assessment is',ue_size_change_row, 'uniform entry intensity for error assessment is',ue_intensity_error_row, 'uniform entry intensity for change assessment is',ue_intensity_change_column

In [11]:
sample = matrix("sample2.csv")
sample.printdf()

             j1  j2  j3  j4  Sum_rows
i1            1   0   2   0         3
i2            0   3   3   0         6
i3            2   0   3   0         5
i4            0   3   0   3         6
Sum_columns   3   6   8   3        20

In [8]:
sample = matrix("sample2.csv")
sample.ue()

('uniform entry size for error assessment is',
 [0.6666666666666666, 1.0, 1.6666666666666667, 0.0],
 'uniform entry size for change assessment is',
 [0.6666666666666666, 1.0, 0.6666666666666666, 1.0],
 'uniform entry intensity for error assessment is',
 [0.11764705882352941,
  0.21428571428571427,
  0.16666666666666666,
  0.17647058823529413],
 'uniform entry intensity for change assessment is',
 [0.11764705882352941, 0.21428571428571427, 0.3333333333333333, 0.0])

In [13]:
dfcopy2 = pd.read_csv('sample.csv', index_col = 0)
#self.dfcopy = self.df.copy(deep = True)
hits = []
for i in range(len(dfcopy2.columns)):
    hits.append(dfcopy2.iloc[i][i])
mapsum = dfcopy2.sum(axis = 1).to_list()
groundsum = dfcopy2.sum(axis = 0).to_list()  
FA_values = [] 
MISS_values = []
for i in range(len(dfcopy2.columns)):
    FA_values.append(mapsum[i] - hits[i])
    MISS_values.append(groundsum[i] - hits [i])
FA_values.append(sum(FA_values))
MISS_values.append(sum(MISS_values))
MISS_values.append('//')
dfcopy2['Sum_map'] = dfcopy2.sum(axis = 1)
dfcopy2.loc['Sum_ground'] = dfcopy2.sum(axis=0)
dfcopy2['False_Alarms'] = FA_values
dfcopy2.loc['Misses'] = MISS_values

In [14]:
dfcopy2

            Built  Barren  Forest  Water  Sum_map False_Alarms
Built         612       0       0      0      612            0
Barren        168     561       0      0      729          168
Forest        292      83    2197      0     2572          375
Water           0       0       0    183      183            0
Sum_ground   1072     644    2197    183     4096          543
Misses        460      83       0      0      543           //

In [15]:
sample.df_fams()

            Built  Barren  Forest  Water  Sum_map False_Alarms
Built         612       0       0      0      612            0
Barren        168     561       0      0      729          168
Forest        292      83    2197      0     2572          375
Water           0       0       0    183      183            0
Sum_ground   1072     644    2197    183     4096          543
Misses        460      83       0      0      543           //

In [63]:
df3 = pd.read_csv('sample.csv', index_col = 0)
df3

        Built  Barren  Forest  Water
Built     612       0       0      0
Barren    168     561       0      0
Forest    292      83    2197      0
Water       0       0       0    183

In [64]:
df3 = pd.read_csv('sample.csv', index_col = 0)
FA_pure = FA_values[:-1]
Miss_pure = MISS_values[:-2]
ue_size_error_col = []
ue_size_change_row = []
for i in range(len(FA_pure)):
    ue_size_error_col.append(MISS_values[i] / (len(FA_pure)-1))
    ue_size_change_row.append(FA_values[i] / (len(FA_pure)-1))
    
ue_intensity_error_row = []
ue_intensity_change_column = []
for i in range(len(FA_pure)):
    ue_intensity_error_row.append(FA_pure[i] / (sum(FA_pure)-FA_pure[i]))
    ue_intensity_change_column.append(Miss_pure[i] / (sum(Miss_pure)-Miss_pure[i]))

In [65]:
ue_size_error_col

[153.33333333333334, 27.666666666666668, 0.0, 0.0]

In [66]:
ue_size_change_row

[0.0, 56.0, 125.0, 0.0]

In [69]:
ue_intensity_error_row

[0.0, 0.448, 2.232142857142857, 0.0]

In [70]:
ue_intensity_change_column

[5.542168674698795, 0.18043478260869567, 0.0, 0.0]