## Import our library: pontiPy

In [44]:
from pontiPy import *

## Sample to Population

In [42]:
# import dataframe (sample)
df = pd.read_csv("sample2.csv", index_col=0)
# see how it looks like by calling .matrix()
sample = pontiPy(df)
sample.matrix()

                     j1  j2  j3  j4  Sum Row Disagreement
i1                    1   0   2   0    3                2
i2                    0   3   3   0    6                3
i3                    2   0   3   0    5                2
i4                    0   3   0   3    6                3
Sum                   3   6   8   3   20               10
Column Disagreement   2   3   5   0   10

In [43]:
# when calculating population, a stratum is needed
stratum = [30,60,25,30]
population = pontiPy(df, stratum)
# similarly, call .matrix() to see population table
population.matrix()

                       j1    j2    j3    j4    Sum Row Disagreement
i1                   10.0   0.0  20.0   0.0   30.0               20
i2                    0.0  30.0  30.0   0.0   60.0               30
i3                   10.0   0.0  15.0   0.0   25.0               10
i4                    0.0  15.0   0.0  15.0   30.0               15
Sum                  20.0  45.0  65.0  15.0  145.0               75
Column Disagreement  10.0  15.0  50.0   0.0   75.0

## Uniform intensity for Neither

In [40]:
neither = pontiPy(df)
# in Neither, a direction is required
print("Uniform Intensity:", neither.uniformintensity('x'))

Uniform Intensity: [0.11764705882352941, 0.21428571428571427, 0.16666666666666666, 0.17647058823529413]

## Uniform intensity and size for error

In [35]:
error = pontiPy_Error(df)
# print(ob.dataframe)
print("Uniform Intensity:", error.uniformintensity_error())
print("Uniform Size:",error.uniformsize())
print("Uniform Size for Category 4:",error.uniformsize(3))

Uniform Intensity: [0.11764705882352941, 0.21428571428571427, 0.16666666666666666, 0.17647058823529413]
Uniform Size: [0.6666666666666666, 1.0, 1.6666666666666667, 0.0]
Uniform Size for Category 4: 0.0

## Uniform intensity and size for change

In [33]:
change = pontiPy_Change(df)
print("Uniform Intensity:", change.uniformintensity_change())
print("Uniform Size:",change.uniformsize())
print("Uniform Size for Category 4:",change.uniformsize(3))

Uniform Intensity: [0.11764705882352941, 0.21428571428571427, 0.3333333333333333, 0.0]
Uniform Size: [0.6666666666666666, 1.0, 0.6666666666666666, 1.0]
Uniform Size for Category 4: 1.0