In [1]:
# pip install -i https://test.pypi.org/simple/ pontiPy==2.0.0

In [2]:
from pontiPy import *
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("./Testing/test.csv", index_col=0)

In [4]:
display(df)

       1  2  3  4
Row 1  1  0  2  0
Row 2  0  3  3  0
Row 3  2  0  3  0
Row 4  0  3  0  3

In [5]:
test = pontiPy(df)

In [6]:
df_plot = df.copy(deep=True)
# delete sum column and row
df_plot.loc["Miss"] = test.column_disagreement('CONTINGENCY')[:-1]
df_plot.loc["False Alarm"] = test.row_disagreement('CONTINGENCY')[:-1]

df_plot

             1  2  3  4
Row 1        1  0  2  0
Row 2        0  3  3  0
Row 3        2  0  3  0
Row 4        0  3  0  3
Miss         2  3  5  0
False Alarm  2  3  2  3

In [7]:
import plotly.express as px


nCategories = len(df.columns)

# dynamically add labels in EntrySize plot based on x, y pos on plot
x_pos = []
row_hit_sum = 0

# for 
for i in range(0, nCategories):
    row_hit_sum = 0
    for j in range(0, i):
        row_hit_sum += (df_list[i][j])
    row_hit_sum = (df_list[i][i]/2) + row_hit_sum
    x_pos.append(row_hit_sum)    


fig = px.bar(df_plot, y=df_plot.index, x=df_plot.columns,
             height=350, orientation='h',width=600,
             opacity = 1, color_discrete_sequence=px.colors.qualitative.Set1,
             template="simple_white")


layout = fig.update_layout(   
    font=dict(family="Trebuchet MS", size=12),    
    hovermode=False,
    paper_bgcolor='rgba(0,0,0,0)',
    plot_bgcolor='rgba(0,0,0,0)',
    yaxis = dict(autorange="reversed",type='category', title='Table Feature',
               title_font=dict(size=12, family='Trebuchet MS', color='black')),
    xaxis = dict(title='Entry size as number of Observations', dtick = 1,
                 title_font=dict(size=12, family='Trebuchet MS', color='black')),
    legend = dict(orientation="h", yanchor="bottom", y=1.02, xanchor="right",
                  x=0.8, title = '',
                  font=dict(family="Trebuchet MS", size=12, color="black"))
)



for i in range(0, nCategories):
    fig.add_annotation(x=x_pos[i], y=i+1, text="Hit", hovertext = 'Hits for Category 1', showarrow=False, 
                   font = dict(color = 'white',
                              family = 'Trebuchet MS',
                              size = 12))
 
fig.show()

NameError: name 'df_list' is not defined

In [ ]:


# convert to list
df_list = df.values.tolist()
df

In [ ]:
# Discrete palettes available with plotly
import plotly.express as px

fig = px.colors.qualitative.swatches()
fig.show()

## Matplotlib

In [ ]:
# plt.figure();
# df_plot.plot.barh(stacked=True);

plt.figure();

bp = df_plot.plot.barh(stacked=True);
plt.savefig('bank_data.png')

In [ ]:
labels = ['Row 4', 'Row 3', 'Row 2', 'Row 1']
row_1 = [1, 0, 2, 0]
row_2 = [0, 0, 3, 0]
row_3 = [2, 0, 3, 0]

row_4 = [2, 3, 5, 0]
width = 0.3       # the width of the bars: can also be len(x) sequence

fig, ax = plt.subplots()

ax.barh(labels, row_4, width, label='1')
ax.barh(labels, row_3, width, left=row_4, label='2')
ax.barh(labels, row_2, width, left=row_3, label='3')
ax.barh(labels, row_1, width, left=row_2, label='4',)

ax.set_ylabel('Table Features')
ax.set_xlabel('Entry size as number of Observations')
ax.legend(loc='upper center', fontsize='small', ncol=4, bbox_to_anchor=(0.5,1.10), frameon=False)

ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

plt.show()