In [2]:
# pip install -i https://test.pypi.org/simple/ pontiPy==1.1

Looking in indexes: https://test.pypi.org/simple/
Collecting pontiPy==1.1
  Downloading https://test-files.pythonhosted.org/packages/e4/c2/6a5e9af6013647ddc17220da4863c4b9bed4c2f26a72e1012876c95c3323/pontiPy-1.1-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pandas in c:\users\prverma\anaconda3\lib\site-packages (from pontiPy==1.1) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\prverma\anaconda3\lib\site-packages (from pandas->pontiPy==1.1) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\prverma\anaconda3\lib\site-packages (from pandas->pontiPy==1.1) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\prverma\anaconda3\lib\site-packages (from pandas->pontiPy==1.1) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\prverma\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pontiPy==1.1) (1.15.0)
Installing collected packages: pontiPy
Successfully installed pontiPy-1.1
Note: you may need to restart the kernel to use updated packages.

In [28]:
from pontiPy import pontiPy
import pandas as pd
import numpy as np

In [3]:
# data = pd.read_csv("/SampleData/test.csv", index_col=0)
df = pd.read_csv("../SampleData/coastal_1995_2000.csv", index_col=0)

In [4]:
display(df)

            Cultivated  Forest  Garden  Water  Built  Unused
Cultivated         824     120       2      5    124       4
Forest              49     397      18      3     13       8
Garden              12       4      52      0      4       0
Water                6       2       1     34      8       2
Built               14       4       1      2    301       0
Unused               3       6       3      2      4      72

In [5]:
ob = pontiPy(df)

In [32]:
print("Miss:", ob.miss())
print("Exchange for Category 2:", ob.exchange(2, Total = True))
print("Total Size:", ob.size())
print("Shift:", ob.shift())
print("Total Difference:", ob.difference())
print("Difference for Category 2:", ob.difference(2))

Miss: 424
Exchange for Category 2: 7
Total Size: 2104
Shift: 148.0
Total Difference: 496
Difference for Category 2: 45

In [6]:
print(ob.matrix().to_string())

            Cultivated  Forest  Garden  Water  Built  Unused  Col Sum False Alarms
Cultivated         824     120       2      5    124       4     1079          255
Forest              49     397      18      3     13       8      488           91
Garden              12       4      52      0      4       0       72           20
Water                6       2       1     34      8       2       53           19
Built               14       4       1      2    301       0      322           21
Unused               3       6       3      2      4      72       90           18
Row Sum            908     533      77     46    454      86     2104          424
Misses              84     136      25     12    153      14      424

In [7]:
print("Hits:", ob.hit(), 'Hectares')

Hits: 1680 Hectares

In [8]:
print("False Alarm:", ob.false_alarm(), 'Hectares')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
print('Miss:', ob.miss(), 'Hectares')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
print("Exchange for Category 2:", ob.exchange(2, Total = True))

Exchange for Category 2: 79

In [11]:
print("Total Size:", ob.size())

Total Size: 2104

In [12]:
print("Shift:", ob.shift())

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
print("Total Difference:", ob.difference())
print("Difference for Category 2:", ob.difference(2))

Total Difference: 424
Difference for Category 2: 45

In [14]:
print(ob.exchange(0))
print(ob.exchange(1))
print(ob.exchange(2))
print(ob.exchange(3))

{'Category 1': 49, 'Category 2': 2, 'Category 3': 5, 'Category 4': 14, 'Category 5': 3, 'Category 6': 908, 'Total Exchange': 981}
{'Category 0': 49, 'Category 2': 4, 'Category 3': 2, 'Category 4': 4, 'Category 5': 6, 'Category 6': 488, 'Total Exchange': 553}
{'Category 0': 2, 'Category 1': 4, 'Category 3': 0, 'Category 4': 1, 'Category 5': 0, 'Category 6': 72, 'Total Exchange': 79}
{'Category 0': 5, 'Category 1': 2, 'Category 2': 0, 'Category 4': 2, 'Category 5': 2, 'Category 6': 46, 'Total Exchange': 57}

In [15]:
print(ob.exchange(2, 0))

2

In [16]:
print(ob.exchange(0, 0))

No Exchange Within The Same Category. Provide Two Different Categories.

In [158]:
print(pd_table_func.exchange(2, Total = True))

{0: 2, 1: 0, 2: 2, 3: 0}
2

In [17]:
print(ob.quantity(2, 2, label = True))

TypeError: quantity() got multiple values for argument 'label'

In [20]:
print(ob.quantity(3))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [22]:
print(ob.size())
print(ob.size(0))
print(ob.size(1))
print(ob.size(2))
print(ob.size(3))

2104
1987
1021
149
99

In [23]:
print(ob.size(2, axis = 'x'))
print(ob.size(2, axis = 'y'))

72
77

In [24]:
print(ob.difference())

424

In [25]:
print(ob.difference(0))
print(ob.difference(1))
print(ob.difference(2))
print(ob.difference(3))

339
227
45
31

In [27]:
ob.matrix()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [46]:
blah = [pd_table_func2, pd_table_func]
for i in range(0, len(blah)):
    if i == len(blah)-1:
        print(blah[i].size(0, axis='y'))
    else:
        print(blah[i].size(0, axis = 'x'))

612
6

In [42]:
len(blah)

2

In [100]:
coastal95 = pd.read_csv("coastal_1995_2000.csv", index_col=0)
coastal00 = pd.read_csv("coastal_2000_2005.csv", index_col=0)
coastal05 = pd.read_csv("coastal_2005_2010.csv", index_col=0)
inland95 = pd.read_csv("inland_1995_2000.csv", index_col=0)
inland00 = pd.read_csv("inland_2000_2005.csv", index_col=0)
inland05 = pd.read_csv("inland_2005_2010.csv", index_col=0)

In [103]:
coastal95_func = testpontipy2(coastal95)
coastal00_func = testpontipy2(coastal00)
coastal05_func = testpontipy2(coastal05)
inland95_func = testpontipy2(inland95)
inland00_func = testpontipy2(inland00)
inland05_func = testpontipy2(inland05)

In [126]:
inland_list = [inland95_func,
    inland00_func,
    inland05_func]

coastal_list = [coastal95_func,
    coastal00_func,
    coastal05_func]

In [127]:
for i in range(0, len(inland_list)):
    if i == (len(inland_list)-1):
        print(inland_list[i].size(0, axis='y'))
    else:
        print(inland_list[i].size(0, axis = 'x'))

943
778
1064

In [128]:
for i in range(0, len(coastal_list)):
    if i == (len(coastal_list)-1):
        print(coastal_list[i].size(0, axis='y'))
    else:
        print(coastal_list[i].size(0, axis = 'x'))

1079
908
628

In [104]:
print(inland05)

            Cultivated                         Forest  Garden  Water  Built  \
Cultivated         638                           240      127     12    107
Forest             245                         5,633      126     23     77
Garden              91                           180      374      3     31
Water                9                            16        2     70      5
Built               55                            42       15      5    324
Unused              26                            65       13      2     10
Row Sum           1064   240  5,633  180  16  42  65      657    115    554

            Unused  Col Sum
Cultivated      27      911
Forest          86      557
Garden           9      508
Water            1       87
Built            3      402
Unused         269      320
Row Sum        395     2785

In [94]:
coastal00_func.contingency_table()

,Cultivated,Forest,Garden,Water,Built,Unused,Col Sum,Hits,Miss,False Alarm
Cultivated,548,94,7,11,230,18,908,548,-495,-318
Forest,47,416,4,2,56,7,532,416,-377,-360
Garden,8,12,27,0,18,11,76,27,-23,-9
Water,6,4,1,25,8,0,44,25,-23,-17
Built,53,39,4,2,353,3,454,353,0,0
Unused,14,19,2,3,9,42,89,42,-39,-33
Row Sum,676,584,45,43,674,81,2103,1411,-957,-737

In [111]:
coastal05_func.dataframe

            Cultivated  Forest  Garden  Water  Built  Unused  Col Sum
Cultivated         476      46      10      6    129      11      678
Forest              63     421      15      3     67      17      586
Garden               4       3      25      0     11       0       43
Water                5       2       0     29      4       3       43
Built               69      24       4      3    568       5      673
Unused              11       5       1      0      9      54       80
Row Sum            628     501      55     41    788      90     2103

In [121]:
inland05_func.size(0, axis='y')

1064