In [128]:
from pontiPy import *
import pandas as pd

In [129]:
df = pd.read_csv("../SampleData/class_sample.csv", index_col=0)

In [130]:
display(df)

           category1  category2  category3  category4
category1          1          0          2          0
category2          0          3          3          0
category3          2          0          3          0
category4          0          3          0          3

In [131]:
test = pontiPy(df)

In [132]:
test.matrix()

,category1,category2,category3,category4,Sum,Row Disagreement
category1,1,0,2,0,3,2
category2,0,3,3,0,6,3
category3,2,0,3,0,5,2
category4,0,3,0,3,6,3
Sum,3,6,8,3,20,10
Column Disagreement,2,3,5,0,10,

In [136]:
print('difference: ', test.difference())
print('quantity: ', test.quantity())
print('shift: ', test.shift())
print('exchange: ', test.exchange())

difference:  10
quantity:  3
shift:  3
exchange:  4

In [134]:
print('category 1: ', test.shift(0))
print('category 2: ', test.shift(1))
print('category 3: ', test.shift(2))
print('category 4: ', test.shift(3))

category 1:  0.0
category 2:  3.0
category 3:  0.0
category 4:  0.0

In [117]:
test.difference(2)

3.5

In [103]:
test.quantity(1)

0

In [104]:
test.exchange(1, Total = True)

0

In [75]:
test.exchange()

4

In [106]:
test.agreement(1)

3

In [118]:
test.size(2)

13