![Raster Images ](images/slide-01.png "Raster Images")
-----

-----

![Raster Images ](images/slide-02.png "Raster Images")
-----

-----

![Raster Images ](images/slide-03.png "Raster Images")
-----

-----

<center> <span style="font-family:Arial Rounded MT; font-size:3em; color:#FFCD3F">Process</span> </center>

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Input</span>

![Raster Images ](images/raster.png "Raster Images")

<br>


<center> <span style="font-family:Arial Rounded MT; font-size:1em; color:#538EBB">Raster Images from 1971 and 1985</span> </center>

-----

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Library Imports</span>

In [38]:
import numpy as np
import pandas as pd

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Contingency Matrix</span>

In [39]:
df = pd.read_csv('sample.csv', index_col= 0)
display(df)

        Built  Barren  Forest  Water
Built     612       0       0      0
Barren    168     561       0      0
Forest    292      83    2197      0
Water       0       0       0    183

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Translating Logic</span>

In [ ]:
# false alarm quantity
def false_alarm_quantity(data):
    false_alarm_quantity_np = np.zeros(shape = (1, len(data)))
    for i in range(0, len(data)):
        false_alarm_quantity_np[0,i] = np.max((0, (false_alarms(data)[0,i] - misses(data)[0,i])))
    return(false_alarm_quantity_np)

In [ ]:
# misss quantity
def miss_quantity(data):
    miss_quantity_np = np.zeros(shape = (1, len(data)))
    for i in range(0, len(data)):
        miss_quantity_np[0,i] = np.max((0, (misses(data)[0,i] - false_alarms(data)[0, i])))
    return(miss_quantity_np)

In [ ]:
# Quantity difference/disagreement for k (Dqk):
def size_of_quantity_difference(data):
    size_of_quantity_difference_np = abs(misses(data) - false_alarms(data))
    return(size_of_quantity_difference_np)

In [ ]:
# extent of contingency table (total pixel count)
def extent(data):
    return(np.sum(data))

In [ ]:
#find column sums
def column_totals(data):
    column_totals_np = np.zeros(shape=(1, len(data)))
    for i in range(0, len(data)):
        column_totals_np[0,i] = np.sum((data[:,i]))
    return(column_totals_np)

In [ ]:
# find row totals:
def row_totals(data):
    row_totals_np = np.zeros(shape=(1, len(data)))
    for i in range(0, len(data)):
        row_totals_np[0,i] = np.sum((data[i,:]))
    return(row_totals_np)

-----

![ ](images/slide4.png "")
-----

-----
![Raster Images ](images/hellopontipy.png "Raster Images")

-----

In [ ]:
!pip install -i https://test.pypi.org/simple/ testpontipy2

In [40]:
from testpontipy2 import testpontipy2

<center> <span style="font-family:Arial Rounded MT; font-size:3em; color:#FFCD3F">Functions</span> </center>

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Class Object</span>

In [41]:
pd_table_func = testpontipy2(df)

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Contingency Table</span>

In [42]:
display(pd_table_func.contingency_table())

         Built  Barren  Forest  Water  Col Sum  Hits  Miss  False Alarm
Built      612       0       0      0      612   612   460            0
Barren     168     561       0      0      729   561    83          168
Forest     292      83    2197      0     2572  2197     0          375
Water        0       0       0    183      183   183     0            0
Row Sum   1072     644    2197    183     4096  3553   543          543

<span style="font-family:Arial Rounded MT; font-size:2em; color:#538EBB">Hits, Misses, & False Alarms</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">1. No category specified = Sum of H, M, or FA</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">2. Category k specified = H, M, or FA for category k</span>

In [43]:
print('Total Hits:', pd_table_func.hits(), 'Hectares')
print('Total Misses:', pd_table_func.miss(), 'Hectares')
print('The Total False Alarms:', pd_table_func.false_alarm(), 'Hectares')

Total Hits: 3553 Hectares
Total Misses: 543 Hectares
The Total False Alarms: 543 Hectares

In [44]:
print('Hits for Category 1:', pd_table_func.hits(0), 'Hectares')
print('Misses for Category 1:', pd_table_func.miss(0), 'Hectares')
print('False Alarms for Category 1:', pd_table_func.false_alarm(0), 'Hectares')

Hits for Category 1: 612 Hectares
Misses for Category 1: 460 Hectares
False Alarms for Category 1: 0 Hectares

-----

<span style="font-family:Arial Rounded MT; font-size:2em; color:#386E9E">Quantity</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">1. No category specified = Total quantity disagreement</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">2. Category k specified = </span>  <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">a) FALSE (default) = Dictionary </span>  <br>
> - <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">  Key = Labels Miss/False Alarm/Blank </span> <br>
> - <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">Value = Quantity value </span>

> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">b) TRUE = Quantity disagreement for category k</span>

In [45]:
print('Total Quantity Disagreement:', pd_table_func.quantity(), 'Hectares')

Total Quantity Disagreement: 230 Hectares

In [46]:
print('Quantity Disagreement for Category 1:', pd_table_func.quantity(0, False), 'Hectares')

Quantity Disagreement for Category 1: 460 Hectares

In [47]:
print('Quantity Disagreement for Category 1 w/ label:', pd_table_func.quantity(0, True), 'Hectares')

Quantity Disagreement for Category 1 w/ label: {'Miss': 460} Hectares

-----

<span style="font-family:Arial Rounded MT; font-size:2em; color:#386E9E">Exchange</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">1. No category specified = Total exchange disagreement</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">2. Category k specified = Dictionary + Sum of exchange for category k</span>  <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">Key = Category # exchanged with category k</span>  <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">Value = Exchange value </span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">3. Two categories specified = Exchange disagreement between them</span>

In [48]:
print('Total Exchange Disagreement:', pd_table_func.exchange(), 'Hectares')

Total Exchange Disagreement: 0 Hectares

In [49]:
print('Exchange Disagreement for Category 1:', pd_table_func.exchange(0, None, False), 'in Hectares')

Exchange Disagreement for Category 1: {'Category 1': 0, 'Category 2': 0, 'Category 3': 0, 'Total Exchange': 0} in Hectares

In [50]:
print('Exchange between Category 1 and 2:', pd_table_func.exchange(0,1), 'Hectares')

Exchange between Category 1 and 2: 0 Hectares

-----

<span style="font-family:Arial Rounded MT; font-size:2em; color:#386E9E">Size</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">1. No category specified = Size of extent</span>

<span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">2. Category k specified = Size of category k</span>  <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">a) Axis 'X' = Size of category k in X (row sum)</span>  <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">b) Axis 'Y' = Size of category k in Y (col sum)</span> <br>
> <span style="font-family:Arial Rounded MT; font-size:1em; color:#386E9E">c) No Axis specified = Size of category k</span>

In [51]:
print('Size of Extent:', pd_table_func.size(), 'Hectares')

Size of Extent: 4096 Hectares

In [52]:
print('Size of Category 1 in X:', pd_table_func.size(0,'X'),'Hectares')

Size of Category 1 in X: 612 Hectares

In [53]:
print('Size of Category 1 in Y:', pd_table_func.size(0,'Y'),'Hectares')

Size of Category 1 in Y: 1072 Hectares

-----

<center> <span style="font-family:Arial Rounded MT; font-size:3em; color:#FFCD3F">Metrics</span> </center>

<span style="font-family:Arial Rounded MT; font-size:2em; color:#386E9E">False Alarm Quantity Intensity</span>

<br>
<span style="font-family:Arial; font-size:1.5em; color:#386E9E">= (False Alarm Quantity of Category k) / (Size of Category k in X)</span>

In [54]:
for i in range(len(df)):
    fa_label = pd_table_func.quantity(i,True)
    if "False Alarm" in fa_label:
        faqi = round((fa_label["False Alarm"]/pd_table_func.size(i,'X'))*100, 2)
        print('FAQI for Category', i , faqi)
    else:
        pass

FAQI for Category 1 11.66
FAQI for Category 2 14.58

-----

![Raster Images ](images/futurework.PNG "Raster Images")
-----

-----

<center> <font size="10" color='#FFCD3F' face = 'Arial Rounded MT'>Feedback or Questions?</font> </center>