In [1]:
import pandas as pd

In [5]:
class sampop(object):
    def __init__ (self, df):
        '''A dataframe is essentially the input for the matrix'''
        self.df = pd.read_csv(df, index_col = 0)
        '''Call printsample to visualize .csv file in dataframe'''
        self.dfcopy = self.df.copy(deep = True)
        '''Use dataframe.copy to create a copy of original dataframe'''
        '''Or this step will mess up following calculations based on columns/rows'''
        self.dfcopy['Sum_Diagnosis'] = self.dfcopy.sum(axis = 1)
        #self.dfcopy.loc['Sum_Reference'] = self.dfcopy.sum(axis=0)
        
    def printsample(self, df, stratum):
        '''stratum is a list users should enter. Elements in the list represent 
        observations in each stratum (pixels of each category).'''
        #add = []
        #for i in range(len(stratum))
        self.dfcopy['Stratum'] = stratum
        return self.dfcopy
    
    def population (self, df, stratum):
        '''stratum is a list users should enter. Elements in the list represent 
        observations in each stratum (pixels of each category).'''
        #self.dfcopy['Stratum'] = stratum
        '''multiplier is a list of proportions between stratum and sample. 
        All values in 'sample' will multiply this ratio to get population values.'''
        multiplier = [i / j for i, j in zip(stratum, self.dfcopy['Sum_Diagnosis'].to_list())] 
        # return multiplier
        '''create a new population dataframe that is derived from sample dataframe.'''
        population = self.dfcopy.iloc[:, 0:-1]
        population = population.mul(multiplier, axis = 'rows')
        population['Row_sum'] = population.sum(axis = 1)
        population.loc['Column_sum'] = population.sum(axis = 0)
        hits = []
        false_alarms = []
        populationsum = population['Row_sum'][:-1].to_list()
        for i in range(len(population.columns)-1):
            hits.append(population.iloc[i][i]) 
            false_alarms.append(populationsum[i] - hits[i])
        #population['False_Alarms'] = false_alarms
        #return population
       # return hits
        #return false_alarms
        return population

In [3]:
sample = sampop('sample.csv')
#temp = pd.read_csv('sample.csv', index_col = 0)
stratum = [6666, 2114, 11111, 1998]
sample.printsample('sample.csv', stratum)

        Built  Barren  Forest  Water  Sum_Diagnosis  Stratum
Built     612       0       0      0            612     6666
Barren    168     561       0      0            729     2114
Forest    292      83    2197      0           2572    11111
Water       0       0       0    183            183     1998

In [6]:
sample = sampop('sample.csv')
sample.population('sample.csv', stratum)

                  Built       Barren       Forest   Water  Row_sum
Built       6666.000000     0.000000     0.000000     0.0   6666.0
Barren       487.176955  1626.823045     0.000000     0.0   2114.0
Forest      1261.435459   358.558709  9491.005832     0.0  11111.0
Water          0.000000     0.000000     0.000000  1998.0   1998.0
Column_sum  8414.612414  1985.381754  9491.005832  1998.0  21889.0