In [ ]:
# pip install -i https://test.pypi.org/simple/ pontiPy==2.0.0

In [ ]:
from pontiPy import *
import pandas as pd

In [2]:
df = pd.read_csv("./Testing/test.csv", index_col=0)

In [3]:
display(df)

        Forest  Garden  Water  Built
Forest      50      22     30     71
Garden      21      30      5     38
Water       13       1     51      3
Built       99      30      6     22

In [23]:
test = pontiPy(df)

In [24]:
test.matrix()

                     Forest  Garden  Water  Built  Sum Row Disagreement
Forest                   50      22     30     71  173              123
Garden                   21      30      5     38   94               64
Water                    13       1     51      3   68               17
Built                    99      30      6     22  157              135
Sum                     183      83     92    134  492              339
Column Disagreement     133      53     41    112  339

## Testing Parent Class (Neither)

In [ ]:
coast_95_20_neither = pontiPy(df)

In [ ]:
print("Miss:", coast_95_20_neither.column_disagreement())
print("Exchange for Category 2:", coast_95_20_neither.exchange(2, Total = True))
print("Total Size:", coast_95_20_neither.size())
print("Shift:", coast_95_20_neither.shift())
print("Total Difference:", coast_95_20_neither.difference())
print("Difference for Category 2:", coast_95_20_neither.difference(2))

In [ ]:
print("Exchange for Category 2:", coast_95_20_neither.exchange(2, Total = True))
print(coast_95_20_neither.exchange(0))
print(coast_95_20_neither.exchange(1))
print(coast_95_20_neither.exchange(2))
print(coast_95_20_neither.exchange(3))
print(coast_95_20_neither.exchange(2, 0))

In [ ]:
print("Total Size:", coast_95_20_neither.size())
print(coast_95_20_neither.size(0))
print(coast_95_20_neither.size(1))
print(coast_95_20_neither.size(2))
print(coast_95_20_neither.size(3))

In [ ]:
print("Shift:", coast_95_20_neither.shift())

In [ ]:
print("Total Difference:", coast_95_20_neither.difference())
print("Difference for Category 2:", coast_95_20_neither.difference(2))

In [ ]:
print(coast_95_20_neither.quantity(0, label = True))

In [ ]:
coast_95_20_neither.matrix()

In [ ]:
coast_95_20_neither.dataframe

## Testing Change Subclass

In [ ]:
coast_95_20_change = pontiPy_Change(df)

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_change.gain())
print(coast_95_20_change.column_disagreement())

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_change.loss())
# OR
print(coast_95_20_change.row_disagreement())

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_change.persistence())
# OR
print(coast_95_20_change.agreement())

In [ ]:
print("Exchange for Category 2:", coast_95_20_change.exchange(2, Total = True))

In [ ]:
print("Total Size:", coast_95_20_change.size())

In [ ]:
print("Shift:", coast_95_20_change.shift())

In [ ]:
print(coast_95_20_change.quantity(0, label = True))

In [ ]:
coast_95_20_change.matrix()

## Testing Error Subclass

In [ ]:
coast_95_20_error = pontiPy_Error(df)

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_error.miss())
print(coast_95_20_error.column_disagreement())
# OR
print(coast_95_20_error.miss(1))
print(coast_95_20_error.column_disagreement(1))

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_error.false_alarm())
print(coast_95_20_error.row_disagreement())
# OR
print(coast_95_20_error.false_alarm(1))
print(coast_95_20_error.row_disagreement(1))

In [ ]:
# Functions available: Will return the same value
print(coast_95_20_error.hit())
print(coast_95_20_error.agreement())
# OR
print(coast_95_20_error.hit(1))
print(coast_95_20_error.agreement(1))

In [ ]:
print("Exchange for Category 2:", coast_95_20_error.exchange(2, Total = True))

In [ ]:
print("Total Size:", coast_95_20_error.size())

In [ ]:
print("Shift:", coast_95_20_error.shift())

In [ ]:
print(coast_95_20_error.quantity(0, label = True))

In [ ]:
coast_95_20_error.matrix()